<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add verb="*" path="v1/game"   type="ASHttpHandler"   name="GameHandler"/>
      <add verb="*" path="v1/player" type="ASHttpHandler"   name="PlayerHandler"/>
      <add verb="*" path="v1/team"   type="ASHttpHandler"   name="TeamHandler"/>
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="ASConnection" connectionString="Data Source=xserve.uopnet.plymouth.ac.uk;Initial Catalog=SOFT338_ASims;Persist Security Info=True;User ID=ASims;Password=SOFT338_10402796"/>
  </connectionStrings>
</configuration>